@model ELibrary.Web.Models.ResourceViewModel

@{
    var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
}

<div class="col-lg-2 col-md-3 col-6">
    <div class="card book-card shadow-sm">
        <img src="@Model.CoverImagePath" class="card-img-top" alt="Book Cover">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">Author: @Model.Subject</p>
        </div>
        <div class="card-footer text-center">
            <a asp-area="@currentArea"
               asp-action="pdf"
               asp-route-filepath="@Model.FilePath"
               class="btn btn-primary btn-sm">Отвори</a>
        </div>
    </div>
</div>
